/app/appsettings.json
/app/.expo-shared
/app/.expo
/app/package-lock.json
/app/src/modules/admins/api/secret.js
/site/src/appsettings.json
/site/src/shared/constants/app.json
/app/debug.log
/site/.firebase
